## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s="Hi there Sam!"
s=s.split(" ")
print(s)

['Hi', 'there', 'Sam!']

In [3]:
s="Hi there Dad!"
s=s.split(" ")
print(s)

['Hi', 'there', 'Dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [8]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d["k1"][3]["tricky"][3]["target"][3])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [9]:
d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d["k1"][3]["tricky"][3]["target"][3])

hello

** What is the main difference between a tuple and a list? **

In [5]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [10]:
def email(email):
  return str(email).split("@")[1]

In [11]:
email_var = "user@domain.com"
print(email(email_var))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [12]:
def word_found(word):
  return True if "dog" in str(word) else False

In [13]:
word = "Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization"
print(word_found(word))

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [14]:
def word_found_counts(word):
  return word.count("dog")

In [15]:
word = "Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization dogs"
print(word_found_counts(word))

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [18]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [19]:
print(caught_speeding(81,True))

Small Ticket

In [20]:
print(caught_speeding(80,False))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [21]:
employee = [["Balaji",19000],["Aksah",23000],["kishore",30000],["vel",35000],["Babu",25000]]
total = 0
for i in employee:
  print(i[1])
  total += i[1]
  
print(total)

19000
23000
30000
35000
25000
132000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [22]:
basic_emp = {
    "Empid" : 1,
    "Empname": "Balaji",
    "Basicpay" : 190000.00
}

second_dict = {
    "DeptName" : "Ece",
    "DeptId" : 104
}


combine = {
    "Empid" : basic_emp["Empid"],
    "Empname": basic_emp["Empname"],
    "Basicpay" : basic_emp["Basicpay"],
    "DeptName" : second_dict["DeptName"],
    "DeptId" : second_dict["DeptId"]
}

print(combine)

{'Empid': 1, 'Empname': 'Balaji', 'Basicpay': 190000.0, 'DeptName': 'Ece', 'DeptId': 104}